body {
	margin:0px;
	-webkit-perspective:900px;
	font-family:Verdana, sans-serif;
	background:#B8C8D3;
	
}

svg {
	-webkit-transition:all 2s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:scale(1);

}

.viewport {
}

#viewport{
	-webkit-perspective:900px;
	-webkit-transform-origin:50% 50%;
	-webkit-transition:all 2s;
	
}
.viewport.zoomed{	
	-webkit-transform: rotateX(38deg) rotateZ(-15deg) scale(4);
	cursor:-webkit-grab;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;	
}
#zoomout {
	cursor:pointer; 
	position:absolute;
	left:30px; 
	top:30px; 
	background:#333;
	color:white; 
	width:80px;
	height:80px;
	text-align:center;
	border-radius:50%; 
	opacity:0.7;
	-webkit-transition:all 0.5s;
}

#zoomout:hover {
	opacity:0.8;
}


/* Markers */

#iamhere {
	r:3;
	opacity:0.7;
	fill:none;
	stroke:purple;
	stroke-width:4;
}

.busmarker {
	-webkit-transition:-webkit-transform 8s;
	cursor:hand;
}

.stopmarker {
	opacity:0.9;
	cursor:pointer; 

}

.grower path {
	opacity:0.7;
}

.grower {
	-webkit-transform:scale(1);
	-webkit-transition: all 0.2s;
}

.grower:hover {
	-webkit-transform:scale(1.1);
}

.grower:active {
	-webkit-transform:scale(1.3);
}

.busmarker:hover .grower path {
	opacity:1;	
}

body{
	width:100%;
	height:100%;
}

#dragger {
}

#dragger:active {
	cursor:-webkit-grabbing;
}

#stoplabel{
	background-color:black;
	padding:10px;
	margin:10px;
}

.zoomed .selected .grower path{
	opacity:0.8;

}

.zoomed .busmarker:not(.selected):not(:hover) g path {
	fill:#BAB49D;
	opacity:.4;
}

.zoomed .busmarker:not(.selected):hover .grower path {
	opacity:0.8;
		-webkit-transition: all 0.2s;

}



.busmarkertext {
	opacity:1;
	fill:white;
	text-anchor:middle;

}

#viewport:not(.zoomed) .busmarkertext {
	-webkit-transition:all 0.5s;
	opacity:0;
}

#busstoplabels {
	transform:scale(4,4);
}

/*Label styling */
.subtext {
	opacity:0.4;
}

#labelrect {
	opacity:0.8;
	fill:white;
}
/* Map features */

.street {
	fill:none;
	stroke:#ddd;
	stroke-width:0.75;
}

.thoroughfare {
	fill:none;
	stroke:#bbb;
	stroke-width:2;
}

.sportsvenue {
	fill:#ccc;
}

.highway {
	fill:none;
	stroke:#A09C84;
	stroke-width:2;
}

.park {
	fill:#f0f0f0;
}

.feature {
	fill:#ccc;
	opacity:0.5;
}