body {
	margin:0px;
	-webkit-perspective:900px;
	font-family:Verdana, sans-serif;	
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;		
}

#svg {
	-webkit-transition:all 0.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform:scale(1);
}

.blurred {
	-webkit-filter:blur(10px);
}

#loader {
	height:100%;
	width:100%;
	text-align: center;
	position:absolute;
	z-index: 1;
	font-size:1em;
	color:#999;
}

#loadermessage {
	fill:#999;
}
/*Loading spinner */
@-webkit-keyframes spinner {
  0% {
  -webkit-transform:rotate(0deg);

  }

  100% {
  -webkit-transform:rotate(360deg);
  }
}

#spinner {
  -webkit-animation-duration: 1.2s;
  -webkit-animation-name: spinner;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin:50%;

  fill-opacity:0.8;
}
#viewport{
	-webkit-perspective:900px;
	-webkit-transform-origin:50% 50%;
	-webkit-transition:all 2s;	
}
.viewport.zoomed{	
	-webkit-transform: rotateX(38deg) rotateZ(-15deg) scale(3);
}
#zoomout {
	cursor:pointer; 
	position:absolute;
	left:20px; 
	top:20px; 
	background:#333;
	color:white; 
	width:80px;
	height:80px;
	text-align:center;
	border-radius:50%; 
	opacity:0.7;
	z-index: 1;
	-webkit-transition:all 0.5s;
}

#zoomout:hover {
	opacity:0.8;
}


/* Interface elements */
#findme {
	cursor:pointer; 
	background:#666;
	color:white; 
	text-align:center;
	opacity:0.7;
	-webkit-transition:all 0.5s;
	display: inline;
	float: right;
	padding: 7px;
	border-radius: 3px;	
	margin-top:-35px;
}

#maindialog {
	position:absolute; 
	right:10px; 
	top:10px; 
	padding:20px; 
	background:white;
	opacity:0.9;
	width:15%;
	min-width:265px;
	-webkit-perspective:600px;
	font-size: 0.8em;
	border-radius:3px;
	color:#666;

}

.blurred ~ #maindialog {
	display:none;
}

input,form {
	margin:0;
}

input:focus {
	outline:none;
}
.flipper {
	height:30px;
	width:60%;
	-webkit-transition:all 0.5s;
	-webkit-transform-style: preserve-3d;
}

.flipped {
	-webkit-transform:rotateX(180deg); 

}
.side {
	position:absolute;
	height:30px;
	width:100%;
	-webkit-backface-visibility:hidden;
	text-align:center;
	background:white;
	cursor:hand;
	-webkit-font-smoothing:none;
}

h3 {
	font-weight:normal;
	font-size:1.2em;
	opacity:0.8;
}
.subhead {
	text-transform: uppercase;
	fill-opacity:0.6;
	margin-top:20px;

}
/*Slider switch */

.onoffswitch {
	display:inline-block;
	position: relative; 
	width: 100px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
	float:left;
}

.onoffswitch-checkbox {
	display: none;
	}

.onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
}
.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
#IB, #OB {
	float: left; 
	width: 50%; 
	color: white; 
	line-height: 30px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
#IB {
	padding-left: 10px;
	background: #942A34;
}
#OB {
	padding-right: 10px;
	background: #41A6B2;
	text-align: right;
}
.onoffswitch-switch {
	width: 12px; 
	height:12px;
	margin: 7px;
	background: #FFFFFF;
	border: 2px solid #ccc; 
	border-radius: 50%;
	position: absolute;
	right: 70px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
	pointer-events:none;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}


.switch div{
	background:#eee;
	padding:4px 0px;
}

.inputbubble {
	height:30px;
	border-radius:3px;
	overflow:hidden;
}
div[val='_IB']{
	border:1px solid #942A34;
}
div[val='_OB']{
	border:1px solid #41A6B2;
}
#routenumber {
	width:70px;
	font-size:1em;
	padding:7px;
	border:none;
}
.half {
	width:50%;
	float:left;
	text-align: center;
}

#busquant, #trainquant {
	font-size: 2.5em;
	color:#CF4B62;
	letter-spacing: -0.05em;
}




/* Markers */

/*Person marker */
@-webkit-keyframes iamhere {
  0% {
  stroke-width:4;
  }

  100% {
  }
}

#iamhere {

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: iamhere;
   -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin:50%;	
	fill:white;
	stroke:orange;
	stroke-width:1;
	z-index:1;
}

.busmarker {
	-webkit-transition:-webkit-transform 8s;
	cursor:hand;
}

.stopmarker {
	fill-opacity:0.9;
	cursor:pointer; 

}

.grower path {
	fill-opacity:0.7;
}

.grower {
	-webkit-transform:scale(1);
	-webkit-transition: all 0.2s;
}

.grower:hover {
	-webkit-transform:scale(1.1);
}

.grower:active {
	-webkit-transform:scale(1.3);
}

.busmarker:hover .grower path {
	fill-opacity:1;	
}

body{
	width:100%;
	height:100%;
}

#dragger {
}

#dragger:active {
	cursor:-webkit-grabbing;
}

#stoplabel{
	background-color:black;
	padding:10px;
	margin:10px;
}

.zoomed .selected .grower path{
	fill-opacity:0.8;

}

.zoomed .busmarker:not(.selected):not(:hover) g path {
	fill:#BAB49D;
	fill-opacity:.4;
}

.zoomed .busmarker:not(.selected):hover .grower path {
	fill-opacity:0.8;
	-webkit-transition: all 0.2s;
}



.busmarkertext {
	fill:white;
	text-anchor:middle;

}

#viewport:not(.zoomed) .busmarkertext {
	display:block;
}

#busstoplabels {
	transform:scale(4,4);
}


.routepaths {
	stroke-dasharray: 1000;
	stroke-dashoffset: -1000;
	animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: -1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/*Label styling */
.subtext {
	fill:#aaa;
}

#labelrect {
	fill-opacity:0.8;
	fill:white;
}
/* Map features */
